*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e5e7eb;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #111827;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

h1{
    font-size: 2rem;
    text-align: center;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.user-input-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#user-input{
    width: 70%;
    padding: .4rem;
    border-radius: 6px;
    color: #111827;
    border: none;
    outline: none;
}

#search-button{
    color: #111827;
    padding: .4rem .8rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #22c55e;
    font-weight: bold;
}

#search-button:hover{
    background-color: #16a34a;
}

.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #22c55e;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    background: conic-gradient(#22c55e var(--progress-degree,0%), #1f2937 0%);
    flex-direction: column;
}

.circle span{
    position: relative;
    z-index: 2;
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.stat-card{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px;
}

.stat-card div{
    background-color: #1f2937;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 30%;
}

.user-info{
    background-color: #020617;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
} 
@media (max-width: 480px){
    .circle{
        width: 85px;
        height: 85px;
        font-size: 12px;
    }

    #search-button{
        width: 100%;
    }
}